
<div class="perfil-container">
    <h2>Seu perfil</h2>
    <div class="perfil">
        <div class="perfil__item">
            <p class="perfil__item__titulo">Nome</p>
            <p class="perfil__item__valor">{{ userData.nome }}</p>
        </div>
        <div class="perfil__item">
            <p class="perfil__item__titulo">E-mail</p>
            <p class="perfil__item__valor">{{ userData.email }}</p>
        </div>
        <div class="perfil__item">
            <p class="perfil__item__titulo">CPF</p>
            <p class="perfil__item__valor">{{ userData.cpf }}</p>
        </div>
        <div class="perfil__item">
            <p class="perfil__item__titulo">Telefone</p>
            <p class="perfil__item__valor">{{ userData.telefone }}</p>
        </div>
        <div class="perfil__item">
            <p class="perfil__item__titulo">Enderecos</p>
            <div *ngFor="let e of userData.enderecos" class="perfil__item__enderecos">
                <p class="perfil__item__enderecos__subtitulo">Rua</p>
                <p class="perfil__item__enderecos__valor">{{ e.rua }}</p>
                
                <p class="perfil__item__enderecos__subtitulo">Cidade</p>
                <p class="perfil__item__enderecos__valor">{{ e.cidade }}, {{ e.estado }}</p>
                
                <p class="perfil__item__enderecos__subtitulo">CEP</p>
                <p class="perfil__item__enderecos__valor">{{ e.cep }}</p>
            </div>
        </div>
        <div *ngIf="userData.admin" class="perfil__item--admin">
            <p class="perfil__item--admin__texto"> Você é um administrador </p>
        </div>

        <button class="perfil__logout" (click)="logout()"> logout </button>
    </div>
</div>