<div class="livros-container">
	<div class="search-bar">
		<input type="text" placeholder="O que você procura hoje?" [(ngModel)]="like" (keyup.enter)="carregarProdutos()">
		<button type="button" (click)="carregarProdutos()"><mat-icon>search</mat-icon></button>
	</div>
	<section style="width: 100%; height: 100%;">
		<div class="livros">
		<div *ngFor="let produto of produtos" class="livro">
			<div class="produto-title">
				<h3>{{ produto.nome }}</h3>
			</div>
			<div class="imagem-livro">
				<img [src]="produto.imagem"  onerror="if (this.src != 'assets/images/unavailable.jpg') this.src = 'assets/images/unavailable.jpg';" alt="Capa do Livro">
				<!-- <img src="assets/images/capa-livro-01.png"/> -->
				<!-- <img src="assets/images/capa-livro-02.png"/> -->
			</div>
			<p><b>R$ {{ produto.valor }}</b></p>
			<div class="botoes-container">
				<button (click)="atualizarQuantidade(produto, -1)"><mat-icon>remove</mat-icon></button>
				<span><b>{{ produto.quantidadeSelecionada || 1 }}</b></span>
				<button (click)="atualizarQuantidade(produto, 1)"><mat-icon>add</mat-icon></button>
				<button class="button-cart" (click)="adicionarAoCarrinho(produto.quantidadeSelecionada || 1, produto.isbn)"><mat-icon class="cart-icon">add_shopping_cart</mat-icon></button>
			</div>
		</div>
		</div>

	</section>
	<div class="paginator">
		<mat-paginator
		[length]="100"
		[pageSize]="limitePorPagina"
		[pageSizeOptions]="[6, 12, 24, 48]"
		aria-label="Select page"
		(page)="onPageChange($event)"
		></mat-paginator>
	</div>
</div>