<div class="admin-container">
    <div class="admin-container__section">
        <h2 class="admin-container__section__title">Cadastrar um livro</h2>
        <form class="admin-container__section__relatorios"
            [formGroup]="livroForm" (submit)="cadastrarLivro()">
                
            <!-- dados do livro -->
            <h4 class="admin-container__section__relatorios__subtitle">Dados do Livro</h4>
            
            <div class="admin-container__section__relatorios__input-group">
                <p class="admin-container__section__relatorios__input-group__title">ISBN:</p>
                <input type="text" formControlName="isbn"
                    class="admin-container__section__relatorios__input-group__input">
            </div>
            
            <div class="admin-container__section__relatorios__input-group">
                <p class="admin-container__section__relatorios__input-group__title">Nome:</p>
                <input type="text" formControlName="nome"
                    class="admin-container__section__relatorios__input-group__input">
            </div>
            
            <div class="admin-container__section__relatorios__input-group">
                <p class="admin-container__section__relatorios__input-group__title">Valor:</p>
                <input type="number" formControlName="valor"
                    class="admin-container__section__relatorios__input-group__input">
            </div>
            
            <!-- dados do autor -->
            <h4 class="admin-container__section__relatorios__subtitle">Dados do Autor</h4>

            <div class="admin-container__section__relatorios__input-group">
                <p class="admin-container__section__relatorios__input-group__title">Autor:</p>
                <select class="admin-container__section__relatorios__input-group__input--select"
                    formControlName="autor" [(ngModel)]="autorSelected">
                    <option value="new"> Novo Autor </option>
                    <option *ngFor="let a of dadosAutores" [ngValue]="a">{{a.nome}}</option>
                </select>
            </div>

            <!-- dados de novo autor -->
            <div *ngIf="autorSelected == 'new'" class="admin-container__section__relatorios__hidden">
                <div class="admin-container__section__relatorios__hidden__input-group">
                    <p class="admin-container__section__relatorios__hidden__input-group__title">Nome do Autor:</p>
                    <input type="text" formControlName="nome_autor"
                        class="admin-container__section__relatorios__hidden__input-group__input">
                </div>

                <div class="admin-container__section__relatorios__hidden__input-group">
                    <p class="admin-container__section__relatorios__hidden__input-group__title">Email do Autor:</p>
                    <input type="email" formControlName="email_autor"
                        class="admin-container__section__relatorios__hidden__input-group__input">
                </div>
            </div>

            <!-- dados da editora  -->
            <h4 class="admin-container__section__relatorios__subtitle">Dados da Editora</h4>

            <div class="admin-container__section__relatorios__input-group">
                <p class="admin-container__section__relatorios__input-group__title">Editora:</p>
                <select class="admin-container__section__relatorios__input-group__input--select"
                    formControlName="editora" [(ngModel)]="editoraSelected">
                    <option value="new">Nova Editora </option>
                    <option *ngFor="let e of dadosEditoras" [ngValue]="e">{{e.nome}}</option>
                </select>
            </div>

            <!-- dados de nova editora  -->
            <div *ngIf="editoraSelected == 'new'" class="admin-container__section__relatorios__hidden">
                <div class="admin-container__section__relatorios__hidden__input-group">
                    <p class="admin-container__section__relatorios__hidden__input-group__title">CNPJ da Editora:</p>
                    <input type="text" formControlName="cnpj_editora"
                        class="admin-container__section__relatorios__hidden__input-group__input">
                </div>
                
                <div class="admin-container__section__relatorios__hidden__input-group">
                    <p class="admin-container__section__relatorios__hidden__input-group__title">Nome da Editora:</p>
                    <input type="text" formControlName="nome_editora"
                        class="admin-container__section__relatorios__hidden__input-group__input">
                </div>

                <div class="admin-container__section__relatorios__hidden__input-group">
                    <p class="admin-container__section__relatorios__hidden__input-group__title">Email da Editora:</p>
                    <input type="email" formControlName="email_editora"
                        class="admin-container__section__relatorios__hidden__input-group__input">
                </div>

                <div class="admin-container__section__relatorios__hidden__input-group">
                    <p class="admin-container__section__relatorios__hidden__input-group__title">Telefone da Editora:</p>
                    <input type="text" formControlName="telefone_editora"
                        class="admin-container__section__relatorios__hidden__input-group__input">
                </div>
            </div>

            <!-- dados do estoque  -->
            <h4 class="admin-container__section__relatorios__subtitle">Dados de Estoque</h4>

            <div class="admin-container__section__relatorios__input-group">
                <p class="admin-container__section__relatorios__input-group__title">SKU:</p>
                <input type="text" formControlName="sku"
                    class="admin-container__section__relatorios__input-group__input">
            </div>
            
            <div class="admin-container__section__relatorios__input-group">
                <p class="admin-container__section__relatorios__input-group__title">Quantidade:</p>
                <input type="number" formControlName="quantidade"
                    class="admin-container__section__relatorios__input-group__input">
            </div>

            <button class="admin-container__section__relatorios__botao">Cadastrar livro</button>
        </form>
    </div>
    
    <div class="admin-container__section">
        <h2 class="admin-container__section__title">Gerar relatórios</h2>
        <div class="admin-container__section__relatorios">
            <button class="admin-container__section__relatorios__button" (click)='gerarRelatorio("vendas")'>Relatorio de Vendas</button>
            <button class="admin-container__section__relatorios__button" (click)='gerarRelatorio("estoque")'>Relatorio de Estoque</button>
            <button class="admin-container__section__relatorios__button" (click)='gerarRelatorio("usuarios")'>Relatorio de Usuários</button>
        </div>
    </div>
</div>