<div class="cadastro">
    <div class="cadastro__input">
        <p class="cadastro__input__label">CPF</p>
        <input [(ngModel)]="cadastro.cpf" (keyup)="validar()" type="text" class="cadastro__input__text-box">
    </div>
    
    <div class="cadastro__input">
        <p class="cadastro__input__label">Email</p>
        <input [(ngModel)]="cadastro.email" (keyup)="validar()" type="email" class="cadastro__input__text-box">
    </div>
    
    <div class="cadastro__input">
        <p class="cadastro__input__label">Nome</p>
        <input [(ngModel)]="cadastro.nome" (keyup)="validar()" type="text" class="cadastro__input__text-box">
    </div>
    
    <div class="cadastro__input">
        <p class="cadastro__input__label">Telefone</p>
        <input [(ngModel)]="cadastro.telefone" (keyup)="validar()" type="text" class="cadastro__input__text-box">
    </div>
    
    <div class="cadastro__input">
        <p class="cadastro__input__label">Senha</p>
        <input [(ngModel)]="cadastro.senha" (keyup)="validar()" type="password" class="cadastro__input__text-box">
    </div>
    
    <div class="cadastro__input">
        <p class="cadastro__input__label">Rua</p>
        <input [(ngModel)]="cadastro.rua" (keyup)="validar()" type="text" class="cadastro__input__text-box">
    </div>
    
    <div class="cadastro__input">
        <p class="cadastro__input__label">CEP</p>
        <input [(ngModel)]="cadastro.cep" (keyup)="validar()" type="text" class="cadastro__input__text-box">
    </div>
    
    <div class="cadastro__input">
        <p class="cadastro__input__label">Estado</p>
        <select [(ngModel)]="cadastro.estado" (click)="validar()" class="cadastro__input__select">
            <option value=""> </option>
            <option *ngFor="let e of listaEstados" value="e"> {{ e }} </option>
        </select>
    </div>
    
    <div class="cadastro__input">
        <p class="cadastro__input__label">Cidade</p>
        <input [(ngModel)]="cadastro.cidade" (keyup)="validar()" type="text" class="cadastro__input__text-box">
    </div>

    <div class="cadastro__input">
        <button (click)="cadastrar()" [disabled]="!valido">Finalizar Cadastro</button>
    </div>
</div>
