<div class="checkout-container" *ngIf="carrinho !== null">
    <h2 class="checkout-containerd__title"> Revise sua compra </h2>
    <div class="checkout-containerd__revisao">
        <div class="checkout-containerd__revisao__carrinho">
            <div class="checkout-containerd__revisao__carrinho__carrinho-item"
                *ngFor="let i of carrinho.itens">
                <!-- talvez mostar algum outro dado importante (preco unitario, imagem, etc) -->
                {{ i.livro.titulo }}
                {{ i.quantidade }}
                {{ i.livro.valor * i.quantidade }}
            </div>
        </div>
        <div class="checkout-containerd__revisao__dados">
            <p class="checkout-containerd__revisao__dados__campo">Total a pagar:</p>
            <p class="checkout-containerd__revisao__dados__valor">{{ carrinho.valor_total }}</p>
        </div>
    </div>

    <h2 class="checkout-containerd__title"> Escolha seu endereço de entrega </h2>
    <div class="checkout-containerd__metodo-pgto">
        <p class="checkout-containerd__metodo-pgto__campo">Endereço:</p>
        <select class="checkout-containerd__metodo-pgto__valor" [(ngModel)]="endereco">
            <option value="null"></option>
            <option *ngFor="let e of enderecosDisp" value="{{e}}">{{e.rua}}, {{e.cidade}} - {{e.estado}}</option>
        </select>
    </div>

    <h2 class="checkout-containerd__title"> Escolha seu metodo de checkout </h2>
    <div class="checkout-containerd__metodo-pgto">
        <p class="checkout-containerd__metodo-pgto__campo">Método:</p>
        <select class="checkout-containerd__metodo-pgto__valor" [(ngModel)]="metodoPgto">
            <option value="null"></option>
            <option *ngFor="let m of metodosPgtoDisp" value="{{m.valor}}">{{m.texto}}</option>
        </select>
    </div>

    <button class="checkout-containerd__compra" (click)="finalizaCompra()"> Finalizar compra</button>
</div>