.checkout-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
}

.checkout-containerd__revisao {
	margin: 1rem;
}

.checkout-containerd__revisao__carrinho {
	padding: .5rem;
	border-width: 1.4px;
}

.checkout-containerd__revisao__carrinho__carrinho-item img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 7px;
}

.checkout-containerd__revisao__carrinho__carrinho-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: .2rem;
	width: 100%;
}

h4{
	margin-bottom: 0;
}

select{
	width: 100%;
	padding: .3rem .4rem;
}

.checkout-containerd__compra{
	border-style: solid;
    border-radius: 7px;
    padding: .5rem 2rem;
    border-width: 1.4px;
    font-weight: 600;
	cursor: pointer;
    color: var(--tertiary-color);
    background-color: var(--quaternary-color);
    border-color: var(--tertiary-color);
}